@font-face {
    font-family: 'Jeopardy-Text';
    src: url('../fonts/jeopardy/gyparody.ttf');
}

.jeopardy-text {
    font-family: 'Jeopardy-Text'
}

.sectionBox {
    border: 2px solid #fff;
}

body {
    background: url('../images/jeopardy_background.jpg');
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centered-text {
    text-align: center;
}

h1, h2, h3, h4, h5, p {
    color: #fff;
}