@font-face {
    font-family: 'Jeopardy-Text';
    src: url('../fonts/jeopardy/gyparody.ttf');
}

.jeopardy-text {
    font-family: 'Jeopardy-Text'
}

.sectionBox {
    border: 2px solid #fff;
}

body {
    background: url('../images/jeopardy_background.jpg');
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#nextButton {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
}

.inline-text {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    body {
        background: url('../images/jeopardy_background_tall.jpg');
        background-repeat: no-repeat; 
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.answer-text {
    display: inline-block;
    margin-left: 10px;
}

div#buttonsArea {
    display: block;
}    

.centered-text {
    text-align: center;
}

h1, h2, h3, h4, h5, p {
    color: #fff;
}