.sectionBox {
    border: 2px solid #000
}

body {
    background: url('../images/jeopardy_background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}